/**
 * Google Fonts Demo
 **/


/* Add in the Google Fonts of your choice */

i.fas,
i.fab {
    border: 1px solid red;
}

h1 {
    font-family: "Bangers", cursive;
    letter-spacing: 3px;
}

p {
    font-family: "sansita-swashed", cursive;
}